<!-- FALTA IMPLEMENTACIÓN -->
<section class="container">
    <p class="letrero">Usuarios Administradores</p>
    <h2>USUARIOS ADMINISTRADORES</h2>
    <div class="row">

        <div class="col-3 contenedor-2 cont">
            <button class="btn" type="submit">Usuario</button>
            <button class="btn" type="submit">Proyectos</button>
            <a class="d-flex" href="" routerLink="/admin">Cerrar Seción</a>
        </div>
    
        <div class="col-8 contenedor ms-5">
    
    
    
            <div>
                <form class="d-flex" role="search">
                    <input class="form-control me-2 buscador" type="search" placeholder="Buscar por nombre, email" aria-label="Search">
                    <button class="btn btn-outline-dark boton-buscar" type="submit" routerLink="/crear-usuario" >Crear Usuario</button>
                    
                </form>
            </div>
            
        
            <div class="contenedor-3 d-flex mat-elevation-z4 mt-sm-5 my-3">
                <p class="col-3 form-letra  p-md-3">NOMBRE</p>
                <p class="col-3 form-letra  p-md-3">APELLIDO</p>
                <p class="col-3 form-letra  p-md-3 ps-xl-5">EMAIL</p>
                </div>
                <div class="row">
                <div class="container">
                <div class="texto d-flex col-12 my-md-3">
                    <p class="m-auto col-3 ps-lg-2 ">Soledad </p>
                    <p class="m-auto col-3">Martinez</p>
                    <p class="m-auto col-4" >Soledadmartinez22@gmail.com</p>
                    <img  class="m-auto " src="assets/pencil.svg" alt="">
                    <img  class="m-auto " src="assets/tong.svg" alt="">
                </div>

                <div class="texto d-flex col-12 my-md-3">
                    <p class="m-auto col-3 ps-lg-2 ">Adriana Carolina</p>
                    <p class="m-auto col-3">Hernandez</p>
                    <p class="m-auto col-4" >AdrianaCarolina@gmail.com</p>
                    <img  class="m-auto " src="assets/pencil.svg" alt="">
                    <img  class="m-auto " src="assets/tong.svg" alt="">
                </div>

                <div class="texto d-flex col-12 my-md-3">
                    <p class="m-auto col-3 ps-lg-2 ">Juan Ignacio </p>
                    <p class="m-auto col-3">Sanchez Perez</p>
                    <p class="m-auto col-4" >JuanIgnacioSanchez@gmail.com</p>
                    <img  class="m-auto " src="assets/pencil.svg" alt="">
                    <img  class="m-auto " src="assets/tong.svg" alt="">
                </div>
                </div>
            </div>
            

        </div>

    </div>
    

</section>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- <section class="container">
    <p class="letrero">Usuarios Administradores</p>
    <h2>USUARIOS ADMINISTRADORES</h2>
    <div class="row">

        <div class="col-3 contenedor-2 cont">
            <button class="btn" type="submit">Usuario</button>
            <button class="btn" type="submit">Proyectos</button>
            <a class="d-flex" href="">Cerrar Sesión</a>
        </div>
    
        <div class="col-8 contenedor ms-5">
    
    
    
            <div>
                <form class="d-flex" role="search">
                    <input class="form-control me-2 buscador" type="search" placeholder="Buscar por nombre, email" aria-label="Search">
                    <button class="btn btn-outline-dark boton-buscar" type="submit">Crear Usuario</button>
                </form>
            </div>
            
        
            <div class="contenedor-3 d-flex mat-elevation-z4 mt-sm-5 my-3">
                <p class="m-xl-auto pe-lg-5 ps-xl-5 p-md-3 ms-xl-0 letra">NOMBRE Y APELLIDO</p>
                <p class="m-xl-auto pe-lg-5 ps-xl-5 p-md-3 ms-xl-0 letra">EMAIL</p>
            </div>
            <div class="row">
                <div class="container">
                <div class="texto-2 d-flex col-12">
                    <p class="m-auto col-5" >Soledad Martinez</p>
                    <p class="m-auto col-5" >Soledadmartinez22@gmail.com</p>
                    <img  class="m-auto " src="assets/pencil.svg" alt="">
                    <img  class="m-auto " src="assets/tong.svg" alt="">
                </div>

                <div class="texto-1 d-flex col-12">
                    <p class="m-auto col-5" >Adriana Carolina Hernandez</p>
                    <p class="m-auto col-5" >AdrianaCarolina@gmail.com</p>
                    <img  class="m-auto " src="assets/pencil.svg" alt="">
                    <img  class="m-auto " src="assets/tong.svg" alt="">
                </div>

                <div class="texto-2 d-flex col-12">
                    <p class="m-auto col-5" >Juan Ignacio Sanchez Perez</p>
                    <p class="m-auto col-5" >JuanIgnacioSanchez@gmail.com</p>
                    <img  class="m-auto " src="assets/pencil.svg" alt="">
                    <img  class="m-auto " src="assets/tong.svg" alt="">
                </div>
                </div>
            </div>
            

        </div>

    </div>
    

</section> -->




