.contenedor{
    position: absolute;
    width: 1060px;
    height: 598px;
    left: 383px;
    background: #FFFFFF;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 25%);
    border-radius: 4px;
}
.form-letra{
    -webkit-text-stroke-width:medium
}
.buscador{
    box-sizing: border-box;
    width: 633px;
    height: 52px;
    background: #FDF8F8;
    border: 2px solid #B97EBB;
    margin-top: 20px;
    box-sizing: border-box;
    width: 517.07px;
    height: 45px;
    border: 1px solid #C6C6C6;
    border-radius: 50px;
}
.buscador::placeholder{
    text-align: center;
    color: rgba(133, 123, 123, 1);
    background: #FDF8F8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

}
.boton-buscar{
    width: 238px;
    margin-left: 216px;
    height: 43px;
    margin-top: 22px;
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    color: #FFFFFF;
    border-radius: 0px;
    border-style: none;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    background: #EA138C;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 26.5px;
}
.boton-buscar:hover{
    width: 240px;
    height: 45px;
}
.image{
    width: 35px;
    height: 35px;
}
.image:hover{
    width: 37px;
    height: 37px;
}
.prueba{
    color: #000000;
    content: "";
    z-index: -1;
    height: 0px;
    border: 1px solid #F0F0F0;
    margin-bottom: 0px;
}

.contenedor-2{
    height: 797.67px;
    background: rgba(255, 248, 248, 0.4);
    box-shadow: 0px 2px 7px rgb(0 0 0 / 25%);
}
.boton-side:hover{
    color: #EA138C;
    text-decoration: underline;
    
}
.contenedor-2 button{
    margin-bottom: 0px;
    width: 323px;
    height: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #EA138C;
}
.contenedor-3{
    height: 63px;
    background: rgba(254, 236, 236, 0.4);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.cont{
    margin-top: -98px;
    padding-left: 0px;
    padding-right: 0px;
}
.letrero1{
    font-size: 26px;
    text-decoration: none;
    margin: 0px 35px;
    padding: 6px 12px;
    margin-top: 620px;
    margin-right: 122px;
    margin-left: 52px;
    margin-bottom: 28px;
    width: 224px;
    height: 62px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #857B7B;
}
.letrero1:hover{
    color: #EA138C;
}
h2{
    margin-left: 450px;
    font-weight: 700;
    font-size: 30px;
}
.letra-tabla{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #383838;
}
.letrero{
    margin-left: 325px;
    font-size: 16px;
    margin-bottom: 31px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #857B7B;
}
.titulo{
    margin-left: 362px;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 21px;
    color: #383838;
}
.texto{
    
    height: 49px;
    background: #F8F0F5;
}

.letra{
    -webkit-text-stroke-width: medium;
    line-height: 32px;
    color: #EA138C;
    font-size: 16px;
    margin-bottom: 50px;
}
.texto-1{
    background: #FFFFFF;
}

.miga-de-pan{
    color: #555555;
    font-size: 15px;
  }
  .contenedor{
    margin-top: 21px;
    margin-left: 55px;
  }
  .cambio{  
    height: 567px;
    width: 397px;
    border: solid 1px;
    background-color: #FDF8F8;
    border-color: #EA138C;
  }
 .imagen{
    width: 249px;
    height: 77px;
 }
 .input-modal{
    background-color: #FDF8F8;
    width: 322px;
    height: 34px;
   
    border-radius: 1px;
    border: #EA138C solid 2px
  }
  .input::placeholder{
    text-align: center;
    color: #555555;
    font-size: 20px;
  }
  .button-modal{
    width: 256px;
    height: 34px;
    background-color: #EA138C;
    color: white;
    margin-left: 70px;
    font-weight: 500;
    font-size: 26px;
  }
.cancelar{
    width: 256px;
    background-color: #FDF8F8;
    color: #EA138C;
    margin-left: 70px;
    font-weight: 700;
    font-size: 24px;
}
.texto-modal{
    background-color: #FDF8F8;
    width: 369px;
    height: 112px;
    border: 2px solid #B97EBB;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 64px;
    margin-left: 65px;
}
.boton-modal{
    background: #D9D9D9;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
    height: 41px;
    width: 128px;
}
.boton-modal-izq{
    margin-right: 50px;
    background: #D9D9D9;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
    height: 41px;
    width: 128px;
}
.boton-modal:hover{
    height: 43px;
    width: 130px;
}
.boton-modal-izq:hover{
    height: 43px;
    width: 130px;
}
.letra-modal{
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000000;
    
}