footer {
  background-color: #4f2c59;
  padding-bottom: 0px;
}
p {
  color: white;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 15px;
}
.contactos {
  display: inline-block;
  margin: 0 5px;
  text-align: center;
}
.contenedor {
  height: 50px;
}
ul {
  padding-top: 10px;
  padding-right: 15px;
}
.header__red-bisblik {
  margin-right: 11px;
  height: 15px;
  width: 15px;
}
