<div class="card col-10">
  <div class="imagen">
    <img src="{{ imagen }}" class="card-img-top card-imagen col-10" alt="..." />
    <img
      class="imagen-compartir"
      src="../../../../assets/Frame 66.svg"
      alt=""
    />
  </div>
  <div class="contenido">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">{{ titulo }}</h5>
    </div>
    <p class="card-description">
      {{ descripcion }}
    </p>
  </div>

  <div class="footer-card">
    <p class="progreso-titulo">RECAUDAD0 HASTA EL MOMENTO</p>
    <span class="progreso-monto"> ${{ recaudadoString }}</span>
    <div class="card-body botones d-flex justify-content-center">
      <button class="boton-masInfo">+ info</button>
      <button class="boton-opcion">QUIERO SUSCRIBIRME</button>
    </div>
  </div>
</div>
