<!-- FALTA IMPLEMENTACIÓN -->
<div>
    <h4 class="miga-de-pan p-1 m-1">Inicio de sesión/Contraseña nueva</h4>
</div>
<div class="col-12">
  <div class="container col-4 contenedor">
    
        <div class="cambio">
            <img src="assets/logo_talentojovenc 2.png" alt="Logo de Bisblick" class="m-auto my-sm-4 d-flex imagen">

            <div>
                <form >
                    <div class="mb-3">
                      <input type="email" class="form-control m-auto input mt-sm-5" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control m-auto input mt-sm-5" placeholder="Contraseña Actual">
                      </div>

                      <div class="mb-3">
                        <input type="password" class="form-control m-auto input mt-sm-5" placeholder="Nueva Contraseña">
                      </div>

                      <div class="mb-3">
                        <input type="password" class="form-control m-auto input mt-sm-5" placeholder="Repetir Contraseña">
                      </div>

                      <div class="mb-3 d-flex justify-content-center">
                        <button type="button" class="btn form-control-lg mt-sm-5" routerLink="/">Regresar a inicio de sesión</button>
                      </div> 
                </form>
            </div>

        </div>

</div>
</div>

<br>
<br>
<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<div class="encabezado">
  <img src="assets/LOGO 3.svg" alt="Logo BisBlick" class="logo-1">
  
    <div class="logos">

      <img src="assets/Group 7667.svg" alt="Icono de red social" class="redes-sociales">
      <img src="assets/Group 7669.svg" alt="Icono de red social" class="redes-sociales">
      <img src="assets/Group 7670.svg" alt="Icono de red social" class="redes-sociales">
      <img src="assets/instagram-svgrepo-com (1) 1.svg" alt="Icono de red social" class="logos-insta">
      <img src="assets/Component 99.svg" alt="Icono de red social" class="redes-sociales">
    </div>

  <style>
    .logo-1{
      margin-right: 300px;
      height: 50px;
      margin-bottom: 8px;
      margin-left: 20px;
      margin-top: 9px;
      width: 51.44px;
      display: inline-block;
    }
    .logos{
      margin-right: 5px;
      display: inline-block;
    }
    .redes-sociales{
      margin-right: 5px;
    }
    .logos-insta{
      margin-right: 5px;
      display: inline-block;
    }
    .encabezado {
      
      width: 600px;
      height: 67px;
      margin-left: 456px;
      margin-top: 48px;
      background: #EA138C;
    }
  </style>
</div>

<div class="cuerpo">
  <style>
    .cuerpo{
      box-sizing: border-box;
      width: 600px;
      height: 291px;
      margin-left: 456px;
      margin-right: 456px;
      margin-top: 80px;
      background: rgba(254, 236, 236, 0.4);
      border: 1px solid #592E59;
    }
  </style>
  <h2 class="titulo">REGISTRO EXITOSO
    <style>
      .titulo{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
        color: #2D2529;
        margin-left: 182px;
        margin-right: 180px;
        margin-top: 18px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
      }
    </style>
  </h2>
  <P class="mensaje">¡Gracias por activar tu cuenta en BisBlick! A partir de
    ahora eres un nuevo miembro.</P>
   <p class="mensaje">Tu usuario es: <span class="dato"> jjuanperez_1111@gmail.com
    <br> 
    </span>Y tu contraseña:<span class="dato"> 1234 </span> 
    
  <style>
    .mensaje{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #2D2529;
      margin-left: 65px;
      margin-right: 64px;
      margin-top: 30px;
      margin-bottom: 46px;
    }
    .dato{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #235FD3;
    }
  </style></p>
    <h3 class="mensaje-2">No debes compratir estos datos con tu entorno
      <style>
        .mensaje-2{
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: #2D2529;display: flex;
          justify-content: center;
          margin-left: 73px;
          margin-right: 80px;
          margin-top: 46px;
          margin-bottom: 37px;
        }
      </style>
    </h3>

</div>

<div>
  <style>
    .imagen{
      width: 600px;
      height: 133px;
      margin-left: 456px;
      margin-top: 88px;
      margin-right: 456px;

    }
  </style>
  <img class="imagen" src="assets/footer 1.svg" alt="">
</div>

<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

<div class="encabezado1">
  <img src="assets/LOGO 3.svg" alt="Logo BisBlick" class="logo">
  <style>
    .logo{
      height: 50px;
      margin-bottom: 8px;
      margin-left: 20px;
      margin-right: 528.56px;
      margin-top: 9px;
      border-radius: 52px;
      width: 51.44px;
    }
    .encabezado1 {
      
      width: 600px;
      height: 67px;
      margin-left: 456px;
      margin-top: 48px;
      background: #EA138C;
    }
  </style>
</div>

<div class="cuerpo1">
  <style>
    .cuerpo1{
      margin-right: 456px;
      margin-top: 80px;
      box-sizing: border-box;
      width: 600px;
      height: 441px;
      background: rgba(254, 236, 236, 0.4);
      border: 1px solid #592E59;
      margin-left: 456px;
    }
  </style>
  <h2 class="titulo1">Recupera tu contraseña
    <p class="titulo1-1">Hola Juan Perez:</p>
    <style>
      .titulo1{
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
        color: #2D2529;
        margin-left: 20px;
        margin-right: 290px;
        margin-top: 19px;
        /* margin-bottom: 68px; */
        display: inline-block;
        font-style: normal;
      }
      .titulo1-1{
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
        color: #2D2529;
        margin-top: 68px;
        /* margin-bottom: 53px; */
        display: inline-block;
        font-style: normal;
        font-family: 'Montserrat';
      }
    </style>
  </h2>
  <P class="mensaje1">Recibiste este correo porque solicitaste recuperar tu 
    contraseña de tu cuenta de BisBlick
    </P>
    <span class="dato1">Haz click en el siguiente botón <p class="mensaje1-1">para crear una nueva</p></span>
  <style>
    .mensaje1{
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #2D2529;
      margin-left: 20px;
      margin-right: 43px;
      margin-top: 33px;
      margin-bottom: 43px;
      font-family: 'Montserrat';
      display: inline-block;
    }
    .mensaje1-1{
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #2D2529;
      font-family: 'Montserrat';
      display: inline-block;
      font-style: normal;
    }
    .dato1{
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 35px;
      color: #2D2529;
      display: inline-block;
      margin-left: 20px;
      margin-right: 43px;
      font-family: 'Montserrat';
    }
  </style>

<div><button class="boton"><p class="boton-texto">Recuperar tu contraseña</p></button> 
  <style>
    .boton{
      height: 41px;
      margin-right: 164px;
      margin-left: 141px;
      margin-bottom: 30px;
      background: #592E59;
      border-radius: 50px;
      width: 295px;
    }
    .boton-texto{
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 33px;
      color: #FFFFFF;
      font-family: 'Montserrat';
    }
  </style>
  </div>

</div>



<div>
  <style>
    .imagen{
      width: 600px;
      height: 133px;
      margin-left: 456px;
      margin-top: 88px;
      margin-right: 456px;

    }
  </style>
  <img class="imagen" src="assets/footer 1.svg" alt="">
</div>

<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

<div class="encabezado">
  <img src="assets/LOGO 3.svg" alt="Logo BisBlick" class="logo">
  <style>
    .logo{
      height: 50px;
      margin-bottom: 8px;
      margin-left: 20px;
      margin-right: 528.56px;
      margin-top: 9px;
      border-radius: 52px;
      width: 51.44px;
    }
    .encabezado {
      
      width: 600px;
      height: 67px;
      margin-left: 456px;
      margin-top: 48px;
      background: #EA138C;
    }
  </style>
</div>

<div class="cuerpo3">
  <style>
    .cuerpo3{
      box-sizing: border-box;
      width: 600px;
      height: 441px;
      margin-left: 456px;
      margin-right: 456px;
      margin-top: 80px;
      background: rgba(254, 236, 236, 0.4);
      border: 1px solid #592E59;
    }
  </style>
  <h2 class="titulo3">¡Bienvendio, gracias por registrarte!
    <style>
      .titulo3{
        margin-right: 159px;
        margin-top: 49px;
        width: 403px;
        height: 28px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
        color: #000000;
        margin-left: 38px;
        margin-bottom: 271px;
  }
    </style>
  </h2>
  <P class="mensaje3">¡Saludos!
    Equipo BisBlick</P> 
  <style>
    .mensaje3{
      margin-right: 49px;
      margin-top: 271px;
      margin-bottom: 55px;
      width: 129px;
      height: 44px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #2D2529;
      margin-left: 422px;
    }
  </style>

</div>

<div>
  <style>
    .imagen{
      width: 600px;
      height: 133px;
      margin-left: 456px;
      margin-top: 88px;
      margin-right: 456px;

    }
  </style>
  <img class="imagen" src="assets/footer 1.svg" alt="">
</div>