<!-- FALTA IMPLEMENTACIÓN -->
<div>
    <h4 class="miga-de-pan p-1 m-1">Inicio de sesión/Contraseña nueva</h4>
</div>
<div class="col-12">
  <div class="container col-4 contenedor">
    
        <div class="cambio">
            <img src="assets/logoBisblick.png" alt="Logo de Bisblick" class="m-auto my-sm-4 d-flex imagen">

            <div>
                <form >
                    <div class="mb-3">
                      <input type="email" class="form-control m-auto input mt-sm-5" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control m-auto input mt-sm-5" placeholder="Contraseña Actual">
                      </div>

                      <div class="mb-3">
                        <input type="password" class="form-control m-auto input mt-sm-5" placeholder="Nueva Contraseña">
                      </div>

                      <div class="mb-3">
                        <input type="password" class="form-control m-auto input mt-sm-5" placeholder="Repetir Contraseña">
                      </div>

                      <div class="mb-3">
                        <button type="button" class="btn mat-elevation-z15 form-control-lg mt-sm-5" routerLink="/">Regresar a inicio de sesión</button>
                      </div> 
                </form>
            </div>

        </div>

        
    
</div>
</div>
