.miga-de-pan{
    color: #555555;
    font-size: 15px;
  }
  .contenedor{
    margin-top: 50px;
  }
  .cambio{  
    height: 567px;
    width: 397px;
    border: solid 1px;
    background-color: #FDF8F8;
    border-color: #EA138C;
  }
 .imagen{
    width: 249px;
    height: 77px;
 }
 input{
    background-color: #FDF8F8;
    width: 322px;
    height: 34px;
   
    border-radius: 1px;
    border: #EA138C solid 2px
  }
  .input::placeholder{
    text-align: center;
    color: #555555;
    font-size: 20px;
  }
  button{
    width: 256px;
    height: 34px;
    background-color: #EA138C;
    color: white;
    margin-left: 70px;
  }

