.miga-de-pan{
    color: #555555;
    font-size: 15px;
  }
  .contenedor{
    margin-top: 150px;
    zoom: 0.9;
    position: relative;
    z-index: 1;
    top: 106px;
    height: calc(100vh - 78px);
  }
  .cambio{  
    box-sizing: border-box;
    width: 482px;
    height: 578px;
    background: #FDF8F8;
    background-color: #FDF8F8;
    border: 1px solid #857B7B;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 20%);
  }
 .imagen{
    width: 249px;
    height: 77px;
 }
 input{
  border-radius: 1px;
  box-sizing: border-box;
  width: 340px;
  height: 39.23px;
  background: #FFFFFF;
  border: 1px solid #857B7B;
  }
  .input::placeholder{
    text-align: center;
    color: #555555;
    font-size: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #383838;
  }
  button{
   
    margin-left: 70px;
    background: #EA138C;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 26.5px;
  }
  .guardar{
    background: #EA138C;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 26.5px;
    margin-left: 0px;
    width: 256px;
    height: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
  }
  .guardar:hover{
    width: 258px;
    height: 36px;
  }
.cancelar{
  width: 256px;
  background-color: #ffffff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #857B7B;
}