<div class="col-12">
    <div class="container col-4 contenedor">
      
          <div class="cambio">
              <img src="assets/logoBisblick.png" alt="Logo de Bisblick" class="m-auto my-sm-4 d-flex imagen">
  
              <div>
                  <form >
                      <div class="mb-3">
                        <input type="text" class="form-control m-auto input mt-sm-5" placeholder="Nombre...">
                      </div>
                      <div class="mb-3">
                          <input type="text" class="form-control m-auto input mt-sm-5" placeholder="Apellido...">
                        </div>
  
                        <div class="mb-3">
                          <input type="text" class="form-control m-auto input mt-sm-5" placeholder="Correo electronico...">
                        </div>
  
                        <div class="mb-3">
                          <button type="button" class="btn mat-elevation-z15 form-control-lg mt-sm-5">Guardar</button>
                        </div> 
  
                        <div class="mb-3">
                          <button type="button" class="btn form-control-lg my-sm-3 cancelar">Cancelar</button>
                        </div> 
                  </form>
              </div>
  
          </div>
  
          
      
  </div>
  </div>