.navbar {
<<<<<<< HEAD
    background-color: rgba(185, 126, 187, 0.5);
    height: 77px;
  }
  .logo {
    margin-left: 70px;
    margin-right: 50px;
  }
  
  .nav-link {
    margin-left: 10px;
    font-size: 14px;
    font-family: "Dosis";
    font-style: normal;
    font-weight: 600;
    color: #ea138c;
  }
  .nav-link:hover {
    font-weight: bold;
  }
  
  .link-proyectos {
    font-weight: 800;
    text-decoration: underline;
  }
  
=======
  background-color: rgba(185, 126, 187, 0.5);
  height: 77px;
}
.logo {
  margin-left: 70px;
  margin-right: 50px;
}

.nav-link {
  margin-left: 10px;
  font-size: 14px;
  font-family: "Dosis";
  font-style: normal;
  font-weight: 600;
  color: #ea138c;
}
.nav-link:hover {
  font-weight: bold;
}

.link-proyectos {
  font-weight: 800;
  text-decoration: underline;
}
>>>>>>> b4df42132572d40b419ae58e55e92d038fade78f
