<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img
      class="logo"
      routerLink="/"
      routerLinkActive="active"
      src="assets/logo_talentojovenc 1.svg"
    />

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://www.bisblick.org/quienes-somos/"
            >INICIO</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/" class="nav-link link-proyectos"> PROYECTOS </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.bisblick.org/quienes-somos/"
            >QUIENES SOMOS</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.bisblick.org/becados/"
            >BECADOS</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.bisblick.org/acompanamientos/"
            >ACOMPAÑAMIENTOS</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.bisblick.org/colaborar/"
            >COLABORAR</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.bondarea.com/?c=inicio&v=bondarea"
            >ACCESO BECADOS</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://premiumtest.com.ar/becas/"
            >ACCESO TUTORES</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.bisblick.org/contacto/"
            >CONTACTO</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.bisblick.org/eng/">I ENG</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
