<!-- <ul class="breadcrumb">
  <li class="breadcrumb-item d-flex">
    <a class="nav-link" href="https://www.bisblick.org/quienes-somos/">
      <img
        href="https://www.bisblick.org/quienes-somos/"
        src="../../../../assets/Arrow 76.svg"
        alt=""
      />
    </a>
    <span class="nav-link link-proyectos"> Proyectos </span>
  </li>
</ul> -->

<img
  src="../../../../assets/Vector 720.svg"
  alt=""
  class="miscelanea-derecha"
/>
<img
  src="../../../../assets/Group 7656.svg"
  alt=""
  class="miscelanea-derecha cruz-derecha"
/>

<img
  src="../../../../assets/Group 7656.svg"
  alt=""
  class="miscelanea-izquierda cruz-izquierda"
/>
<img
  src="../../../../assets/Vector 721.svg"
  alt=""
  class="miscelanea-izquierda"
/>
<div class="landing d-flex flex-column align-items-center">
  <div class="presentacion">
    <h1 class="titulo-landing">JÓVENES CON FUTURO</h1>
    <p class="presentacion-bisblick">
      Desde 2013,
      <b>
        acompañamos a jóvenes con alto potencial y escasos recursos
        socio-económicos</b
      >
      para que puedan convertirse en los primeros profesionales de sus familias,
      generando un impacto directo en su comunidad y entorno.
      <b> Nos interesa su desarrollo personal, académico y profesional.</b> Los
      jóvenes BisBlick participan de un programa de alto potencial que contempla
      <b>
        beca económica y mentorías para que puedan sostener los estudios
        superiores, capacitaciones en habilidades blandas y digitales y
        oportunidades de inserción laboral.</b
      >
    </p>
  </div>
  <div class="cards row row-cols-2 landing__contenedor">
    <img
      class="imagen-sin-proyectos"
      *ngIf="proyectos.length == 0"
      src="../../../../assets/Component 78.png"
      alt=""
    />
    <div
      *ngFor="
        let proyecto of proyectos
          | paginate: { itemsPerPage: 6, currentPage: pageActual }
      "
    >
      <div *ngIf="proyecto.tipo == 'suscripcion'">
        <app-card-suscripcion
          [imagen]="proyecto.imagen"
          [titulo]="proyecto.titulo"
          [descripcion]="proyecto.descripcion"
          [recaudado]="proyecto.recaudado"
          class="card"
        ></app-card-suscripcion>
      </div>

      <div *ngIf="proyecto.tipo == 'proyecto'">
        <app-card-proyecto
          [imagen]="proyecto.imagen"
          [titulo]="proyecto.titulo"
          [descripcion]="proyecto.descripcion"
          [recaudado]="proyecto.recaudado"
          [objetivo]="proyecto.objetivo"
          [opcion]="proyecto.opcion"
          class="card"
        ></app-card-proyecto>
      </div>
    </div>
  </div>
  <pagination-controls
    class="pagination navegador"
    (pageChange)="pageActual = $event"
    [autoHide]="true"
    previousLabel=""
    nextLabel=""
  ></pagination-controls>
</div>
<div class="impacto">
  <h3 class="impacto__titulo">IMPACTO BISBLICK</h3>
  <div class="impacto-datos d-flex justify-content-between">
    <div class="impacto__numeros">
      <p class="numero">228</p>
      <p class="texto">BECAS OTORGADAS</p>
    </div>
    <div class="impacto__numeros">
      <p class="numero">16</p>
      <p class="texto">JOVENES GRADUADOS</p>
    </div>
    <div class="impacto__numeros">
      <p class="numero">4</p>
      <p class="texto">PROGRAMAS CON EMPRESAS</p>
    </div>
    <div class="impacto__numeros">
      <p class="numero">49</p>
      <p class="texto">JÓVENES INSERTADOS</p>
    </div>
  </div>
</div>
