<!-- cards de los proyectos -->
<div class="cards row row-cols-2">
  <app-card-suscripcion
    [imagen]="'../../../../assets/image 49.png'"
    [porcentaje]="80"
  ></app-card-suscripcion>

  <app-card-proyecto
    [imagen]="'../../../../assets/image 49.png'"
    [opcion]="'Quiero Donar'"
    [porcentaje]="25"
  ></app-card-proyecto>
  <app-card-proyecto
    [imagen]="'../../../../assets/image 49.png'"
    [opcion]="'Quiero Donar'"
    [porcentaje]="25"
  ></app-card-proyecto>
  <app-card-proyecto
    [imagen]="'../../../../assets/image 49.png'"
    [descripcion]="'Descripción...'"
    [opcion]="'Quiero Participar'"
    [porcentaje]="25"
  ></app-card-proyecto>
</div>

