.card {
  padding: 0 !important;
  width: 612px !important;
  height: 791px !important;
  border: 5px solid #ea138c;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.8));
  border-radius: 41px;
}
.card-imagen {
  width: 600px;
  height: 319px;
  border-radius: 33px;
}

.card-title {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  color: #1c191a;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-text {
  margin-top: 30px;
  height: 80px;
  font-family: "Dosis";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  text-align: justify;
  color: #2d2a2a;
}

.monto-recaudado {
  padding: 7px 20px;
  margin-top: 0;
  width: 368px;
  height: 76px;
  background: rgba(222, 122, 178, 0.2);
  border-radius: 11px;
}
.progreso-numeros {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #000000;
}

.progress {
  margin-top: 30px;
  padding: 0 5px 0 0;
  width: 493px;
  height: 23px;
  background-color: #fdfffd;
  border: 1px solid #000000;
  border-radius: 14px;
  font-family: "Dosis";
  font-style: normal;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}

.progress-bar {
  background: #40c24d;
  /* border: 1px solid #000000; */
  border-radius: 23px;
}

.botton-masInfo {
  margin-right: 31px;
  border: none;
  width: 146px;
  height: 37.05px;
  background-color: #592e59;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  font-family: "Dosis";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.boton-opcion {
  border: none;
  width: 194px;
  height: 39px;
  background-color: #ea138c;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
  font-family: "Dosis";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}
.botones {
  margin-top: 0;
}
