<app-header></app-header>
<p class="margen"></p>
<div class="container border-top border-primary" id="contenedor-formulario">
  <div class="text-center mb-4" id="titulo-formulario">
    <p class="fs-1 m-xl-4">Bisblick.</p>
  </div>
  <form action>
    <div class="mb-3">
      <input type="imput" class="form-control" id="nombre" placeholder="Nombre">
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com">
    </div>
    <div class="mb-3">
      <input type="number" class="form-control" id="telefono" placeholder="Teléfono">
    </div>
    <div class="mb-3">
    <textarea class="form-control" id="mensaje" rows="4" placeholder="Escribir:"></textarea>
    </div>
    <div class="mb-3">
      <button type="button" class="btn btn-outline-primary w-100 fs-5">Crear nueva cuenta</button>
    </div>
  </form>
</div>
























<app-footer></app-footer>
<router-outlet></router-outlet>
