.proyecto {
  padding: 19px;
}
.carousel {
  width: 618px;
  height: 625px;
  margin-right: 16px;
}
.imagen-carousel {
  width: 618px;
  height: 625px;
}
.info{
    width: 827px;
    
}
.descripcion__texto {
    background-color: #555555b2;
    margin-bottom: 13px;
    padding: 42px ;
    height: 430px;
}
.titulo-descripcion {
    width: 302px;
    height: 41px;
    background-color: #D9D9D9;
    text-align: center;
    padding: 8px;
    font-size: 20px;
}
.descripcion{
    color: white;
    margin-top: 80px;
    font-size: 40px;
}
.descripcion__video {
  max-width: 827px;
  height: 307px;
  background-color: #d9d9d9;
}
.video{
    background-color: #857B7B96;
    width: 50%;
    
}
.link{
    padding: 22px;
    text-align: center;
    width: 50%;
}
.participantes{
    text-align: center;
    margin-top: 41px;
}