/* .recuperar-contrasenia {
  margin-top: 40px;
} */
.seccion{
  margin-top: 90px;
}
.titulo {
  margin-top: 42px;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 50px;
  width: 313px;
  height: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #333333;
}
.imagen{
width: 237px;
height: 73px;
margin-top: 30px;
}
.recuperar-contrasenia__input {
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 411px;
  height: 474px;
  background: #FDF8F8;
  border: 1px solid #857B7B;
  border-radius: 6px;
}
.texto {
  margin-top: 53px;
  width: 263px;
  height: 64px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #403A3A;
}

.contenedor-input {
  margin-top: 46px;
}
.input {
  padding: 10px;
  box-sizing: border-box;
  width: 236px;
  height: 47px;
  background: #EAEAEA;
  border: 1px solid #857B7B;
}
.input::placeholder {
  text-align: center;
}
.boton {
  margin-top: 67px;
  margin-bottom: 75px;
  border: none;
  width: 293px;
  height: 37.4px;
  background: #EA138C;
  box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 26.5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.boton:hover{
  width: 295px;
  height: 39.4px;
}
.texto-modal {
  height: 112px;
  font-family: "Dosis";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #000000;
  margin: 30px 22px;
  background: #fdf8f8;
  border: 2px solid #b97ebb;
  border-radius: 10px;
}
.migas-de-pan {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #555555;
  margin-top: 36px;
  margin-left: 13px;
}
