.contenedor-login {
  zoom: 0.9;
}

/* MIGAS DE PAN */
.migas-de-pan {
  margin-top: 106px;
}
.breadcrumb-item {
  margin-left: 26px;
  margin-top: 12px;
}
.flecha-atras {
  margin-top: -5px;
}
.nav-link {
  padding: 8px 4px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #857b7b !important;
}

/* FORMULARIO */
.seccion {
  height: calc(100vh);
  position: relative;
  z-index: 1;
}
.logo {
  width: 237px;
  height: 73px;
  margin-bottom: 67px;
}
.linea {
  margin-right: 118px;
  margin-bottom: 20px;
}
.input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  width: 526px;
  height: 49px;
  border-radius: 1px;
  box-sizing: border-box;
  background: #ffffff;
  border-color: 1px solid #857b7b;
}
.input::placeholder {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #555555;
}

.boton {
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;

  width: 377px;
  height: 53px;
  background: #ea138c;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26.5px;
  margin-bottom: 50px;
  border: none;
}
.boton:hover {
  margin-top: -1px;
  margin-left: -1px;
  width: 379px;
  height: 55px;
}
.boton:disabled {
  background: #f077bb;
}
.div-1 {
  margin-bottom: 41px;
}
.div-2 {
  margin-bottom: 33px;
}
.div-3 {
  width: 379px;
  height: 55px;
  margin-bottom: 30px;
}

.enlace {
  font-family: "Montserrat";
  font-style: normal;
  line-height: 24px;
  color: #41b7dc;
  font-size: 20px;
  margin-top: 10px;
}
.enlace:hover {
  font-size: 21px;
}
