<div class="contenedor-login">
  <div class="migas-de-pan">
    <ul class="breadcrumb">
      <li class="breadcrumb-item d-flex">
        <a class="nav-link" routerLink="/login">
          <img
            class="flecha-atras"
            href="https://www.bisblick.org/quienes-somos/"
            src="assets/Arrow 76.svg"
            alt=""
          />
        </a>
        <a class="nav-link">Inicio de Sesión</a>
      </li>
    </ul>
  </div>

<div class="container seccion">
  <div class="text-center mb-3">
    <img src="assets/bb.png" alt="Logo de Bisblick.">
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="d-flex justify-content-center flex-column align-items-center">
    <div class="div-1">
      <input type="email" class="form-control input" placeholder="Usuario o Email" formControlName="email">
    </div>
    <div class="div-2">
      <input type="password" class="form-control input" placeholder="Contraseña" formControlName="password"
        >
    </div>

    <div class="div-3">
      <button type="button" class="btn boton" [disabled]="loginForm.invalid" (click)="onLogin()">
        <p class="letra-boton">Iniciar Sesion</p>
      </button>
    </div>
  </form>

  <ng-template let-error let-text="text" #passwordError>
    <b>Error:</b>
    <div *ngIf="error?.minlegth">
      <i>No cumples con los caracteres minimos que son({{error?.minlenght.requiredLength}}), ingresaste solo:
        {{error?.minlength?.actualLength}}</i>
    </div>
  </ng-template>

  <ng-template let-error let-text="text" #mensajeError> {{error | json}} {{ text }} </ng-template>



  <div class="mb-3">
    <h2 class="linea"><span>o</span></h2>

    <a href="" class="justify-content-center d-flex text-decoration-none enlace"
      routerLink="/recuperar-contraseña">Recuperar contraseña</a>
    <br>
    <a href="" class="justify-content-center d-flex text-decoration-none enlace" routerLink="/contraseña">Cambiar
      contraseña</a>

  </div>

</div>
</div>