<!-- FALTA IMPLEMENTACIÓN -->
<div>
    <h4 class="miga-de-pan p-1 m-1">Inicio de sesión</h4>
</div>
<div class="container">
    <div class="text-center mb-3">
      <img src="assets/bb.png" alt="Logo de Bisblick.">
    </div>
    <form class="d-flex justify-content-center flex-column align-items-center">
      <div class="div-1">
        <input type="email" class="form-control input" placeholder="Usuario o Email">
      </div>
      <div class="div-2">
        <input type="password" class="form-control input" placeholder="Contraseña">
      </div>
  
      <div class="div-3">
        <button type="button" class="btn boton" routerLink="/usuario-admin"><p class="letra-boton">Iniciar Sesion</p></button>
      </div>  
    </form>

    <div class="mb-3">
        <h2 class="linea"><span>o</span></h2>
        
        <a href="" class="justify-content-center d-flex text-decoration-none enlace" routerLink="/recuperar-contraseña">Recuperar contraseña</a>
        <br>
        <a href="" class="justify-content-center d-flex text-decoration-none enlace" routerLink="/contraseña">Cambiar contraseña</a>
        
      </div>

  </div> 
  