<!-- FALTA IMPLEMENTACIÓN -->
<section class="container">
    <p class="letrero">Inicio de sesión/Usuarios/Proyectos</p>
    <h2>Proyectos</h2>
    <div class="row">

        <div class="col-3 contenedor-2 cont">
            <button class="btn" type="submit">Usuario</button>
            <button class="btn" type="submit">Proyectos</button>
            <a class="d-flex" href="">Cerrar Seción</a>
        </div>
    
        <div class="col-8 contenedor ms-5">
    
    
    
            <div>
                <form class="d-flex" role="search">
                    <input class="form-control me-2 buscador" type="search" placeholder="Buscar por nombre, email" aria-label="Search">
                    <button class="btn btn-outline-dark boton-buscar" type="submit">Crear Proyecto</button>
                </form>
            </div>
            
        
            <div class="contenedor-3 d-flex mat-elevation-z4 mt-sm-5 my-3">
                <p class="col-3 form-letra  p-md-3">NOMBRE DEL PROYECTO</p>
                <p class="col-3 form-letra tipo  p-md-3">TIPO DE PROYECTO</p>
                <p class="col-3 form-letra fecha p-md-3">INICIO DEL PROYECTO</p>
                <p class="col-3 form-letra fecha p-md-3">FIN DEL PROYECTO</p>
                </div>
                <div class="row">
                <div class="container">
                <div class="texto d-flex col-12 my-md-3">
                    <p class="m-auto col-3 ps-lg-2 ">Ayudemos a Juan </p>
                    <p class="m-auto col-2">Donar</p>
                    <p class="m-auto col-2" >27/07/2022</p>
                    <p class="m-auto col-2" >27/07/2022</p>
                    <img  class="m-auto " src="assets/pencil.svg" alt="">
                    <img  class="m-auto " src="assets/tong.svg" alt="">
                </div>

                <div class="texto d-flex col-12 my-md-3">
                    <p class="m-auto col-3 ps-lg-2 ">Ayudemos a Pedro</p>
                    <p class="m-auto col-2">Voluntarios</p>
                    <p class="m-auto col-2" >12/08/2022</p>
                    <p class="m-auto col-2" >12/08/2022</p>
                    <img  class="m-auto " src="assets/pencil.svg" alt="">
                    <img  class="m-auto " src="assets/tong.svg" alt="">
                </div>

                </div>
            </div>
            

        </div>

    </div>
    

</section>