<div class="d-flex">
  <div class="d-flex flex-column sidenav justify-content-between">
    <div class="contenido">
      <button
        class="opcion"
        (click)="seleccionoOpcion('usuarios')"
        [ngClass]="opcion == 'usuarios' ? 'opcion-seleccionada' : ''"
        routerLink="/usuario-admin"
      >
        Usuarios
      </button>
      <div class="linea"></div>
      <button
        class="opcion"
        (click)="seleccionoOpcion('proyectos')"
        [ngClass]="opcion == 'proyectos' ? 'opcion-seleccionada' : ''"
        routerLink="/proyectos-admin"
      >
        Proyectos
      </button>
      <div class="linea"></div>
    </div>
    <div class="cerrar-sesion">
      <img
        class="cerrar-sesion__imagen"
        src="../../../../assets/Power.svg"
        alt=""
      />
      <button class="cerrar-sesion__opcion">Cerrar Sesión</button>
    </div>
  </div>
  <div class="proyectos-admin">
    <div class="migas-de-pan">
      <ul class="breadcrumb">
        <li class="breadcrumb-item d-flex">
          <a class="nav-link" routerLink="/admin">
            <img
              class="flecha-atras"
              href="https://www.bisblick.org/quienes-somos/"
              src="../../../../assets/Arrow left short.svg"
              alt=""
            />
          </a>
          <a class="nav-link" routerLink="/admin">Inicio de Sesión/</a>
          <span class="nav-link link-proyectos">Proyectos</span>
        </li>
      </ul>
    </div>
    <h2 class="titulo">PROYECTOS</h2>
    <div class="contenedor-listado-proyectos d-flex justify-content-center">
      <div class="proyectos-admin__listado">
        <div
          class="d-flex justify-content-between align-items-center proyectos-admin__cabecera"
        >
          <input
            class="buscador__input"
            type="text"
            [(ngModel)]="toSearch"
            (ngModelChange)="search()"
            placeholder="Buscar por nombre"
          />
          <button class="boton-crear">+ Crear Proyecto</button>
        </div>
        <table class="table filas-impares">
          <thead class="cabecera-tabla">
            <tr>
              <th class="separar">NOMBRE</th>
              <th>TIPO DE PROYECTO</th>
              <th>FECHA DE INICIO</th>
              <th>FECHA DE FIN</th>
              <th></th>
            </tr>
          </thead>
          <div class="separacion-datos"></div>
          <tbody class="informacion-tabla">
            <tr
              *ngFor="
                let proyecto of proyectos
                  | paginate: { itemsPerPage: 6, currentPage: pageActual }
              "
            >
              <td class="contenido-tabla separar">{{ proyecto.nombre }}</td>
              <td class="contenido-tabla">{{ proyecto.tipoDeProyecto }}</td>
              <td class="contenido-tabla">{{ proyecto.fechaDeInicio }}</td>
              <td class="contenido-tabla">{{ proyecto.fechaDeFin }}</td>
              <td class="d-flex justify-content-around grupo-de-iconos">
                <div class="iconos icono-separacion">
                  <img
                    class="icono"
                    src="../../../../assets/pencil.svg"
                    alt=""
                  />
                </div>
                <div class="iconos">
                  <img class="icono" src="../../../../assets/tong.svg" alt="" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="navegador d-flex justify-content-center">
      <pagination-controls
        class="pagination"
        (pageChange)="pageActual = $event"
        [autoHide]="true"
        previousLabel=""
        nextLabel=""
      ></pagination-controls>
    </div>
  </div>
</div>
